<div class="jumbotron text-center">
    <h1>About</h1>
    <p>[[ message ]]</p>
</div>
<div style="padding: 5px;">
    <ul>
        <li>
            1. Create form for adding contacts. Form will have server-side and client-side validation.
        </li>
        <li>
            2. Enlist contacts on the very same page into simple table. This table will support drag-and-drop ordering with saving positions.
        </li>
        <li>
            3. Created contacts can be edited and deleted.
        </li>
        <li>
            4. Create simple PHPUnit test for server-side form validation.
        </li>
    </ul>
    Application has to respect MVC. Use dependency injection principles as much as possible. Try to design the application by SOLID rules and try to isolate layers.
    Use MySQL as database + Doctrine 2 as database layer, MVC framework has to be Symfony 2. Optionally, use angularjs and twitter bootstrap for frontend.
</div>