<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Contact Directory</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
            <li><a href="#resources"><i class="fa fa-comment"></i> Resources</a></li>
            <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="isAuthorized(userRoles.admin)"><a href="#admin"><i class="fa fa-comment"></i> Admin</a></li>
            <li ng-show="!isAuthorized(userRoles.admin)"><a ng-href="login" ng-click="$event.preventDefault(); toggleLoginModal()"><i class="fa fa-home"></i> Login</a></li>
            <li ng-show="isAuthorized(userRoles.admin)"><a ng-href="logout" ng-click="$event.preventDefault(); logout()"><i class="fa fa-home"></i> Logout</a></li>
        </ul>
    </div>
</nav>